<!-- FOOTER  -->
<div class="footer-section">
    <div class="footer-top">
      <div class="site-brand">
        <div class="logo-title">
          <h1>PMovie</h1>
          <i class="bx bx-camera-movie"></i>
        </div>
        <h3>Your Passport to <br>Cinematic Paradise!</h3>
      </div>
      <div class="navigations">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#planets">Become a Member</a></li>
          <li><a href="">Share with Family</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="resources">
        <ul>
            <li><a href="#home">Popular Movies</a></li>
            <li><a href="#planets">Top-Rated Movies</a></li>
            <li><a href="">Now-Playing Movies</a></li>
            <li><a href="">Upcoming Movies</a></li>
          </ul>
      </div>
      <div class="copyright-txt">
        <ul>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Advertise with Us</a></li>
          </ul>
      </div>
    </div>
    <hr />
    <div class="footer-bot">
      <div class="header">
        <h3>Join Our Communities</h3>
      </div>
      <div class="links">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-instagram"></i></a>
        <a href="#"><i class="bx bxl-discord-alt"></i></a>
      </div>
      <div class="copyright">
        <p>&COPY;Copyright. All Rights Reserved.</p>
      </div>
    </div>
  </div>
