<ng-container *ngIf="loading else content ">
  <div class="skele-carou flex">
    <ngx-skeleton-loader 
      style="display: flex; gap: 1rem;"
      count="3"
      [theme]="{
        width:'50rem', 
        height: '28rem', 
        'background-color': 'gray'
      }"></ngx-skeleton-loader>
  </div>
</ng-container>

<!-- CAROUSEL -->
<ng-template #content>
  <div #carousel class="carousel">
    <div
      class="flex carousel-cell"
      *ngFor="let movie of nowPlayingList; let i = index"
    >
      <ng-container>
        <div>
          <span class="carousel-img">
            <img
              (click)="goToDetail(nowPlayingList[i]['id']!)"
              [src]="
                'https://image.tmdb.org/t/p/original/' +
                nowPlayingList[i]['backdrop_path']
              "
            />
            <div class="movie-details">
              <h2>{{ nowPlayingList[i]["title"] }}</h2>
              <span>{{ nowPlayingList[i]["overview"] }}</span>
            </div>
          </span>
        </div>
      </ng-container>
    </div>

    <div class="flex carousel-cell">
      <ng-container>
        <div>
          <span class="carousel-img">
            <img
              (click)="goToDetail(topRatedList[0]['id']!)"
              [src]="
                'https://image.tmdb.org/t/p/original/' +
                topRatedList[0]['backdrop_path']
              "
            />
            <div class="movie-details">
              <h2>{{ topRatedList[0]["title"] }}</h2>
              <span>{{ topRatedList[0]["overview"] }}</span>
            </div>
          </span>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>
