<div class="landing-body blur-load">
    <img src="../../assets/img/landing-large.jpg" loading="lazy">
    <!-- nav logo -->
    <div class="brand">
        <p routerLink="">PMovie</p>
        <i class="bx bx-camera-movie"></i>
    </div>

    <!-- signin/up form  -->
    <div class="btn-gp-wrapper flex">
        <div class="login-btn mybtn flex">
            <button routerLink="/signin">SignIn</button>
            <p>Hurry, Let's Go Watch!</p>
        </div>
        <div class="register-btn mybtn flex">
            <button routerLink="signup">SignUp</button>
            <p>Let me register first!</p>
        </div>
    </div>

    <!-- description  -->
    <div class="desc flex">
        <h1>PhyoMovie</h1> 
        <p>A Tapestry of Moving Dreams, 
            Woven with Threads of Magic.
        </p>
    </div>
</div>

<router-outlet></router-outlet>