<div class="skele-wrapper flex">
  <div class="skele-nav flex">
    <div class="brand">
        <ngx-skeleton-loader
        appearance="line"
        [theme]="{
          width: '8rem',
          height: '3rem',
          'background-color': 'gray'
        }"
        ></ngx-skeleton-loader>
    </div>
    <div class="links flex">
        <ngx-skeleton-loader 
        class="links flex"
        count="4"
        appearance="line"
        [theme]="{
          width: '8rem',
          height: '2rem',
          'background-color': 'gray'
        }"
        ></ngx-skeleton-loader>
    </div>
    <div class="logout">
        <ngx-skeleton-loader
        appearance="line"
        [theme]="{
          width: '8rem',
          height: '3rem',
          'background-color': 'gray'
        }"
        ></ngx-skeleton-loader>
    </div>
  </div>
  
  <div class="row-container flex">
    <div class="category">
      <ngx-skeleton-loader
        appearance="line"
        [theme]="{
          width: '12rem',
          height: '2rem',
          'background-color': 'gray'
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="items flex">
      <ngx-skeleton-loader
        class="item flex"
        count="7"
        [theme]="{
          width: '160px',
          height: '230px',
          'background-color': 'gray'
        }"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
        class="lines flex"
        count="7"
        [theme]="{
          width: '6rem',
          height: '1.5rem',
          'background-color': 'gray'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>

  <div class="row-container flex">
    <div class="category">
      <ngx-skeleton-loader
        appearance="line"
        [theme]="{
          width: '12rem',
          height: '2rem',
          'background-color': 'gray'
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="items flex">
      <ngx-skeleton-loader
        class="item flex"
        count="7"
        [theme]="{
          width: '160px',
          height: '230px',
          'background-color': 'gray'
        }"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
        class="lines flex"
        count="7"
        [theme]="{
          width: '6rem',
          height: '1.5rem',
          'background-color': 'gray'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>

  <div class="row-container flex">
    <div class="category">
      <ngx-skeleton-loader
        appearance="line"
        [theme]="{
          width: '12rem',
          height: '2rem',
          'background-color': 'gray'
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="items flex">
      <ngx-skeleton-loader
        class="item flex"
        count="7"
        [theme]="{
          width: '160px',
          height: '230px',
          'background-color': 'gray'
        }"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
        class="lines flex"
        count="7"
        [theme]="{
          width: '6rem',
          height: '1.5rem',
          'background-color': 'gray'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>

  <div class="row-container flex">
    <div class="category">
      <ngx-skeleton-loader
        appearance="line"
        [theme]="{
          width: '12rem',
          height: '2rem',
          'background-color': 'gray'
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="items flex">
      <ngx-skeleton-loader
        class="item flex"
        count="7"
        [theme]="{
          width: '160px',
          height: '230px',
          'background-color': 'gray'
        }"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
        class="lines flex"
        count="7"
        [theme]="{
          width: '6rem',
          height: '1.5rem',
          'background-color': 'gray'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>
