.flex {
    display: flex;
    align-items: center;
}
.wrapper {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding-top: 8.7rem;
    z-index: 5;
    /* opacity: .5; */
}

.container {
    /* background-color: rgba(116, 169, 216, 0.555); */
    gap: 2rem;
    align-items: start;
}
/* .container .profile {
    background-color: rgba(238, 130, 238, 0.705);
} */
.container .profile .info .infos {
    flex-direction: column;
    align-items: start;
    gap: .3rem;
}

.container .about {
    /* background-color: rgba(165, 42, 42, 0.685); */
    flex-direction: column;
    align-items: start;
}

.container .about .bio-lines {
    flex-direction: column;
}


.container .about .related-movies .movies {
    gap: .6rem;
}