.flex {
    display: flex;
    align-items: center;
}

.mynavbar {
    /* background-color: #062c3b33;
    backdrop-filter: blur(10px); */
    font-size: 1.2em;
    padding: .65% 5%;
    justify-content: flex-start;
    gap: 5em;
}
.mynavbar .brand {
    cursor: pointer;
}
.mynavbar .brand a {
    font-weight: 600;
    font-size: 1.8rem;
}
.mynavbar .brand a .txt-fade-in {
    transform: translateX(-3rem);
    opacity: 0;
    z-index: -1;
    transition: .2s;
}
.mynavbar .brand a i {
    font-size: 2rem;
    transform: translateX(-3.5rem);
}
.mynavbar .brand a:hover > .txt-fade-in {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
}
.mynavbar .brand a:hover > i {
    transform: translateX(0);
}
.mynavbar .brand a:hover > span {
    color: var(--clr-cyan300);
}
/* .mynavbar .brand a, i {
    font-size: 1.8rem;
    opacity: 0.6;
} */
/* .mynavbar .brand {
    background-color: rgb(145, 163, 179);
} */
.mynavbar .brand:hover > a, .brand:hover > i {
    color: var(--clr-cyan300);
    opacity: 1;
}

.mynavbar .links {
    /* background-color: rgb(155, 168, 180); */
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}
.mynavbar .links li {
    font-weight: 400;
    position: relative;
}
.mynavbar .links a {
    color: #fff;
}
.mynavbar .links a::before {
    content: '';
    display: block;
    background-color: #d36d3e;
    height: .1rem;
    position: absolute;
    top: -.5rem;
    width: 0%;
    transition: all .4s;
}
.mynavbar .links a:hover::before {
    width: 100%;
    background-color: var(--clr-cyan400);
}
.mynavbar .links a:hover {
    color: var(--clr-cyan300);
}
