<section class="mynavbar flex">
  <div class="menu-icon">
    <i class='bx bx-menu'></i>
  </div>
  <div class="brand">
    <a routerLink="/movies" class="flex">
      <span>PM</span>
      <span class="txt-fade-in">ovie</span>
      <i class="bx bx-camera-movie"></i>
    </a>
  </div>
  <ul class="links-pop flex">
    <li><a routerLink="/movies">Popular</a></li>
    <hr>
    <li><a routerLink="/movies">Now-Playing</a></li>
    <hr>
    <li><a routerLink="/movies">Top-Rated</a></li>
    <hr>
    <li><a routerLink="/movies">Upcoming</a></li>
  </ul>

  <ul class="links flex">
    <li><a routerLink="/movies">Popular</a></li>
    <li><span>|</span></li>
    <li><a routerLink="/movies">Now-Playing</a></li>
    <li><span>|</span></li>
    <li><a routerLink="/movies">Top-Rated</a></li>
    <li><span>|</span></li>
    <li><a routerLink="/movies">Upcoming</a></li>
  </ul>
  <div (click)="logout()" class="logout flex">
    <i class='bx bx-log-out'></i>
    <a>Logout</a>
  </div>
</section>
