.flex {
    display: flex;
    align-items: center;
}

.mynavbar {
    background-color: #50505033;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    width: 100%;
    font-size: 1.2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.116);
    padding: .65% 5%;
    justify-content: space-between;
    gap: 5em;
    position: fixed;
    
    z-index: 300;
}
.mynavbar .brand {
    /* outline: 2px solid red; */
    cursor: pointer;
}
.mynavbar .brand a {
    font-weight: 600;
    font-size: 1.8rem;
}
.mynavbar .brand a .txt-fade-in {
    transform: translateX(-3rem);
    opacity: 0;
    z-index: -1;
    transition: .2s;
}
.mynavbar .brand a i {
    font-size: 2rem;
    transform: translateX(-3.5rem);
}
.mynavbar .brand a:hover > .txt-fade-in {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
}
.mynavbar .brand a:hover > i {
    transform: translateX(0);
}
.mynavbar .brand a:hover > span {
    color: var(--clr-cyan300);
}
/* .mynavbar .brand a, i {
    font-size: 1.8rem;
    opacity: 0.6;
} */
/* .mynavbar .brand {
    background-color: rgb(145, 163, 179);
} */
.mynavbar .brand:hover > a, .brand:hover > i {
    color: var(--clr-cyan300);
    opacity: 1;
}

.mynavbar .links {
    /* outline: 2px solid red; */
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    transform: translateX(-2rem);
}
.mynavbar .links li {
    font-weight: 400;
    position: relative;
}
.mynavbar .links a {
    color: #fff;
}
.mynavbar .links a::before {
    content: '';
    display: block;
    background-color: #d36d3e;
    height: .1rem;
    position: absolute;
    top: -.5rem;
    width: 0%;
    transition: all .4s;
}
.mynavbar .links a:hover::before {
    width: 100%;
    background-color: var(--clr-cyan400);
}
.mynavbar .links a:hover {
    color: var(--clr-cyan300);
}

.mynavbar .logout {
    /* outline: 2px solid red; */
    padding: .3rem;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: .2rem;
    opacity: .7;
    cursor: pointer;
}
.mynavbar .logout:hover, .logout:hover i, .logout:hover a {
    border-color : rgba(255, 191, 161, 0.719);
    color: rgb(255, 163, 151);
    opacity: 1;
}