/* these go to the movies page (component) */

.flex {
    position: relative;
    display: flex;
    overflow: auto;
    
    justify-content: flex-start;
}

.list-wrapper {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-wrapper h2 {
    background-color: #082d3346;
    width: 14rem;
    text-align: center;
    font-weight: lighter;
    padding: 0 1rem .5rem;
    border-radius: .4rem;
}

.heading h1 {
    margin-top: 3rem 0;
}

.movie-list {
    background-color: #082d3346;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: .6rem;
    padding: 2% .5%;
    margin: 0 5.5rem;
    width: auto;
    height: auto;
    gap: 2.5%;
}

.posters {
    /* background: red; */
    /* border: 1px solid rgba(255, 255, 255, 0.308); */
    /* border-radius: .6rem .6rem 0 0; */
    cursor: pointer;
    position: relative;
    width: 9.3rem;
    /* margin: .5rem .7rem; */
}
.posters img {
    width: 100%;
    height: 220px;
    border-radius: .6rem;
    cursor: pointer;
    opacity: .8;
}
.posters img:hover {
    transform: translateY(-.3rem);
    opacity: 1;
    box-shadow:  0 6px 5px rgba(0, 255, 255, 0.363);
}

.overview p {
    /* background-color: rgba(0, 0, 0, 0.822); */
    color: #fff;
    font-size: 16px;
    width: 100%;
    padding-left: .3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 90px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

} 

/* MAKING RESPONSIVE FOR PHONES */
@media (max-width: 420px) {
    .heading h1 {
        font-size: 1.4rem;
    }
    .movie-list {
        background-color: #082d3300;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }
    .movie-list h3 {
        margin-right: 0;
        text-align: center;
        font-size: .8rem;
    }

    .posters {
        width: 150px;
    }
    .posters img {
        height: 220px;
    }

    .overview p {
        font-size: .9rem;
    }

    .list-wrapper h2 {
        border-radius: .4rem;
        width: 7rem;
        font-size: .8rem;
        padding: .5rem .3rem ;
    }
}