/* You can add global styles to this file, and also import other style files */
:root {
  --clr-bg: #020617;
  --clr-font: #fff;
  --clr-cyan300: #5eead4;
  --clr-cyan400: #22d3ee;
  --clr-cyan500: #0693ac;
}

@font-face {
  font-family: "arcane";
  src: url('../src/assets/font/ArcaneNine.otf');
}

* {
  /* outline: 2px solid red; */
  /* font-family: 'Rajdhani', sans-serif; */
  font-family: 'Chillax', sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--clr-font);
  list-style: none;
  text-decoration: none !important;
  transition: all .4s;
}

a {
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0206171a;
  /* box-shadow: inset 0 0 5px var(--clr-cyan500); */
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-cyan400);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-cyan500);
}

body {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  /* background: rgb(171,184,225);
  background: linear-gradient(90deg, rgba(171,184,225,1) 0%, rgba(224,176,207,1) 50%, rgba(233,195,148,1) 100%); */
  
  /* background: rgb(121,131,164);
  background: linear-gradient(90deg, rgba(121,131,164,1) 0%, rgba(170,121,153,1) 50%, rgba(186,148,102,1) 100%); */

  background: rgb(69,84,132);
background: linear-gradient(90deg, rgba(69,84,132,1) 0%, rgba(153,83,129,1) 50%, rgba(151,113,67,1) 100%);

}

/* html {
    --s: 174px; 
    --c1: #8a866f;
    --c2: #3c4639;
    
    --_l:#0000 calc(25%/3),var(--c1) 0 25%,#0000 0;
    --_g:conic-gradient(from 120deg at 50% 87.5%,var(--c1) 120deg,#0000 0);
    background:
      var(--_g),var(--_g) 0 calc(var(--s)/2),
      conic-gradient(from 180deg at 75%,var(--c2) 60deg,#0000 0),
      conic-gradient(from 60deg at 75% 75%,var(--c1) 0 60deg,#0000 0),
      linear-gradient(150deg,var(--_l)) 0 calc(var(--s)/2),
      conic-gradient(at 25% 25%,#0000 50%,var(--c2) 0 240deg,var(--c1) 0 300deg,var(--c2) 0),
      linear-gradient(-150deg,var(--_l)) #1b2c28;
    background-size: calc(0.866*var(--s)) var(--s);
  } */