<app-navbar></app-navbar>

<!-- Jinx background image  -->
<div class="bg-img">
  <img src="../../assets/img/20230918_203528.png" alt="Arcane Jinx background image">
</div>

<div class="btn-title-wrapper">
  <div class="trailer flex">
    <a href="" class="play flex">
      <i class='bx bx-play-circle '></i>
      <p>Watch</p>
    </a>
    
  </div>
  <div class="title">
    <span>2021 • Drama</span>
    <h1>Arcane <br> League of Legends </h1>
  </div>
  <div class="detail">
    <a href="" class="detail-btn flex">
      <span>Details</span>
      <i class='bx bx-message-square-detail' style='color:#ffffff' ></i>
      <!-- <i class='bx bx-info-circle' style='color:#ffffff' ></i> -->
    </a>
  </div>
</div>

