.flex {
    display: flex;
    align-items: center;
}

.cast-container {
    /* background-color: rgba(0, 0, 0, 0.432); */
    justify-content: center;
    gap: 2rem;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.205); */
    margin-bottom: 10rem;
}

.cast-container .profile {
    /* background-color: rgba(255, 192, 203, 0.514); */
    margin-top: 9rem;
    width: 20%;
    height: 92%;
    flex-direction: column;
}

.cast-container .profile .pic {
    /* background-color: pink; */
    width: 100%;
    justify-content: start;
}

.cast-container .profile .pic img {
    border-radius: .5rem;
}

.cast-container .profile .info {
    flex-direction: column;
    align-items: start;
    gap: 1.3rem;
    padding-top: 1rem;
    width: 100%;
}

.cast-container .about {
    /* background-color: rgba(0, 0, 255, 0.479); */
    flex-direction: column;
    align-items: normal;
    width: 68%;
    height: 34.5rem;
    gap: .8rem;
}

.cast-container .about .bd-bp {
    gap: 1.5rem;
}

.cast-container .about .bio p {
    background-color: rgba(0, 0, 0, 0.219);
    padding: .4rem;
    overflow: auto;
    text-overflow:ellipsis;
    display: -webkit-box;
    line-height: 20px;
    max-height: 16.4rem;
    max-width: 100%;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
}


.related-movies {
    width: 100%;
    /* padding: 0 5rem; */
    /* margin: -5rem 0 5rem 0; */
}

.movie-list {
    background-color: #082d3346;
    overflow: auto;
    gap: .8rem;
    border-radius: .6rem .6rem 0 0;
    padding: 1% 2%;
    height: 16rem;
    /* box-shadow: inset 10px 0 10px #f8a100; */
}

.posters {
    /* background: red; */
    position: relative;
}

.posters img {
    width: 120px;
    height: 190px;
    border-radius: .6rem;
    cursor: pointer;
    opacity: .8;
}

.posters img:hover {
    transform: translateY(-.3rem);
    opacity: 1;
    box-shadow: 0 6px 5px rgba(0, 255, 255, 0.363);
}

.overview p {
    /* background-color: rgba(0, 0, 0, 0.822); */
    color: #fff;
    font-size: 16px;
    max-width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 90px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

/* MAKING RESPONSIVE FOR PHONES */
@media (max-width: 860px) {
    .cast-container {
        flex-direction: column;
        /* padding-top: 2rem; */
        gap: .5rem;
    }

    .cast-container .profile {
        width: 100%;
        margin-top: 7rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .cast-container .profile .pic {
        justify-content: center;
    }

    .cast-container .profile .pic img {
        width: 70%;
    }

    .cast-container .profile .info {
        padding-top: 0;
    }

    .cast-container .about {
        width: 96%;
        gap: .2rem;
    }

    .cast-container .about .bio p {
        background-color: rgba(0, 0, 0, 0.219);
        padding: .4rem;    
        overflow: auto;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 20px;
        max-height: 12.4rem;
        max-width: 100%;
        -webkit-line-clamp: 15;
        -webkit-box-orient: vertical;
    }

    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.2rem;
    }

}